{{- /*
This is a template that produces JSON in a legacy format.
The output must be well-formed JSON, properly escaped.
See template documentation here: https://golang.org/pkg/text/template/
*/ -}}

{
{{ if .IsSingleEvent -}}
  {{- with .Event -}}
    {{- if .IsAlarm -}}
      "EventType":        "ALARM_STATE_CHANGE",
      "AlarmID":          {{ .Details.GetValue "AlarmID" }},
      "AlarmState":       "{{ .CurrentState }}",
      "PolicyID":         {{ .Details.GetValue "AlarmPolicyID" }},
      "ThresholdID":      {{ .Details.GetValue "AlarmThresholdID" }},
      "MitigationID":     "0",
      "ActivateSeverity": "{{.Details.GetValue "AlarmSeverity"}}",
      "AlarmStart":       "{{ timeRfc3339 .StartTime }}",
      "AlarmEnd":         "{{ if eq .EndTime "ongoing" }}0001-01-01T00:00:00Z{{ else }}{{ timeRfc3339 .EndTime }}{{ end }}",
      "LastActivate":     "{{$.NowRFC3339}}",
      "AlertPolicyName":  "{{ .Details.GetValue "AlarmPolicyName" }}",
      "AlarmsStateOld":   "{{ .PreviousState }}",
      "AlertDimensions": {{(.Details.WithTag "dimension").Names | toJSON}},
      {{- with $metrics := .Details.WithTag "metric" -}}
        {{- if gt (len $metrics) 0 -}}
          {{- with $metric := index $metrics 0 -}}
          "AlertValue": {
              "Unit": "{{- $metric.Name -}}",
              "Value": {{- $metric.Value | toJSON -}}
          },
          {{- end -}}
        {{- end -}}
        {{- if gt (len $metrics) 1 -}}
          {{- with $metric := index $metrics 1 -}}
          "AlertValueSecond": {
              "Unit": "{{- $metric.Name -}}",
              "Value": {{- $metric.Value | toJSON -}}
          },
          {{- end -}}
        {{- end -}}
        {{- if gt (len $metrics) 2 -}}
          {{- with $metric := index $metrics 2 -}}
          "AlertValueThird": {
              "Unit": "{{- $metric.Name -}}",
              "Value": {{- $metric.Value | toJSON -}}
          },
          {{- end -}}
        {{- end -}}
      {{- end -}}
      {{- if gt (len (.Details.WithTag "metric")) 0 -}}
        "AlertBaseline": {
        {{- with $metric := index (.Details.WithTag "metric") 0 -}}
            "Unit": "{{- $metric.Name -}}",
        {{- end -}}
            "Value": {{ if .Details.Has "Baseline" }}{{ .Details.GetValue "Baseline" | toJSON }}{{ else }}0{{ end }}
        },
      {{- end -}}
      "AlertBaselineSource": "{{ .Details.GetValue "AlarmBaselineSource" }}",
      "AlertKey": [
        {{- range $index, $dimension := .Details.WithTag "dimension" -}}
          {{- join $index -}}
          {
            "DimensionName": "{{- $dimension.Name -}}",
            "DimensionValue": {{- $dimension.Value | toJSON -}}
          }
        {{- end -}}
      ],
      "Links": {
        "Dashboard": {
          "Text": "Open in Dashboard",
          "Value": "{{ .Details.GetValue "DashboardAlarmURL" }}"
        },
        "Explorer": {
          "Text": "Open in Explorer",
          "Value": "{{ .Details.GetValue "DetailsAlarmURL" }}"
        }
      },
    {{- else if .IsMitigation -}}
      "EventType": "MITIGATION_STATE_CHANGE",
      "MitigationID":   {{ .Details.GetValue "MitigationID" }},
      "MitigationStart": "{{timeRfc3339 .StartTime}}",
      "MitigationEnd": "{{timeRfc3339 .EndTime}}",
      "MitigationStateNew": "{{.CurrentState}}",
      "MitigationState": "{{.CurrentState}}",
      "MitigationStateOld": "{{.PreviousState}}",
      "MitigationMethodID": {{.Details.GetValue "MitigationMethodID"}},
      "MitigationPlatformID": {{.Details.GetValue "MitigationPlatformID"}},
      "MitigationPolicyID":         {{ .Details.GetValue "MitigationPolicyID" }},
      "MitigationMethodName": "{{.Details.GetValue "MitigationMethodName"}}",
      "MitigationPlatformName": "{{.Details.GetValue "MitigationPlatformName"}}",
      "MitigationAlertIP": "{{.Details.GetValue "MitigationAlertIP"}}",
    {{- else -}}
      {{- . | toJSON | explodeJSONKeys -}},
      {{- .Details.General.ToMap | toJSON | explodeJSONKeys -}},
      "Metrics": {{- (.Details.WithTag "metric").ToMap | toJSON -}},
      "Dimensions": {{- (.Details.WithTag "dimension").ToMap | toJSON -}},
      "Links": {{- (.Details.WithTag "url").ToMap | toJSON -}},
    {{- end -}}
  "CompanyID": {{ $.CompanyID }}
  {{- end -}}
{{- end -}}
}
