{
  {{- . | j | x -}},
  {{- if .IsSingleEvent  -}}
    {{- with .Event -}}
      {{- . | j | x -}},
      {{- .Details.General.ToMap | j | x -}},
      "Metrics": {{- (.Details.WithTag "metric").ToMap | j -}},
      "Dimensions": {{- (.Details.WithTag "dimension").ToMap | j -}},
      "Devices": {{- (.Details.WithTag "device").ToMap | j -}},
      "DeviceLabels": {{- (.Details.WithTag "device_label").ToMap | j -}},
      "Labels": {{- (.Details.WithTag "label") | j -}},
      "Issues": {{- (.Details.WithTag "issue") | j -}},
      "Statistics": {{- (.Details.WithTag "statistic") | j -}},
      "Links": {{- (.Details.WithTag "url") | j -}}
    {{- end -}}
  {{- else -}}
  "Events": [
    {{- range $index, $event := .Events -}}
      {{- join $index -}}
      {
        {{- . | j | x -}},
        {{- .Details.General.ToMap | j | x -}},
        "Metrics": {{- (.Details.WithTag "metric").ToMap | j -}},
        "Dimensions": {{- (.Details.WithTag "dimension").ToMap | j -}},
        "Devices": {{- (.Details.WithTag "device_labels").ToMap | j -}},
        "DeviceLabels": {{- (.Details.WithTag "device_label").ToMap | j -}},
        "Labels": {{- (.Details.WithTag "label").ToMap | j -}},
        "Issues": {{- (.Details.WithTag "issue").ToMap | j -}},
        "Statistics": {{- (.Details.WithTag "statistic").ToMap | j -}},
        "Links": {{- (.Details.WithTag "url").ToMap | j -}}
      }
    {{- end -}}
  ]
  {{- end -}}
}
